/* Base styles */

* {
	box-sizing: border-box;
}

a {
	color: #66cc99;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
	padding-left: 1em;
	padding-right: 1em;
}

/* NAV bar layout */

.main-header {
	border: 2px solid black;
	width: 100%;
	font-size: 1.5em;
	background: #8b04b8;
}

.main-nav li {
	float: right;
	list-style-type: none;
}

.main-nav li a {
    display: block;
    color: #66cc99;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: #8b04b8;
}

.logo {
	image-orientation: initial;
	height: 3.5em;	
	background: white;
	padding: 2px;
	border: 1px solid black;
}

/* End NAV bar */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

.highlight {
	text-align: center;
	border: 1px solid black;
	padding: 10px;
}

.main-footer {
	text-align: center;
	background: #0699C1;
	border: 2px solid black;
	width: 100%;
	font-size: .5em;
	position: absolute;
	bottom: 0px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
	border: 1px solid #66cc99;
	height: 100%;
  }

@media (min-width: 769px) {
	
	.main-header {
		width: 100%;
		z-index: 50;
	}
	
	.wrap {
		min-height: calc(100vh - 89px);
	}
	
	.container {
		width: 90%;
		margin: 0 auto;
	}

	.logo,
	.col {
		float: left;
	}

	.highlight {
		width: 50%;
	}

	.primary,
	.secondary {
		width: 50%;
	}
	
	.nav {
		float: right;
		margin-top: -10px;
		margin-bottom: -55px;
	}
	
	.nav li {
		display: inline-block;
		margin-left: 30px;
	}

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
  
	.container {
		width: 100%;
	}
  
	  
	.highlight {
		width: 75%;
	}
	
	.primary {
		width: 30%;
	}
	
	.secondary,
	.tertieary {
		width: 25%;
	}
	
}

/* color: #0699C1  #8b04b8   #66cc99